<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400921458015-94q5q29mi9hn43kof4ohq3dsjhrj0j0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400921458015-94q5q29mi9hn43kof4ohq3dsjhrj0j0m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>400921458015-t79fj1vrapfd0rbhtl9dg0h2hn58ab4r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIsEqwl0SxlQ-SoBjbmSPEe_ik4BaE9Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>400921458015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snackAds</string>
	<key>PROJECT_ID</key>
	<string>snackads-b36c2</string>
	<key>STORAGE_BUCKET</key>
	<string>snackads-b36c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400921458015:ios:6c934daf374f90f66f32ea</string>
</dict>
</plist>